<div class="container">

  <navbar/>

  <div class="page-header">
    <h1>Builds</h1>
  </div>

  <style>
    .avatar-image {
      /* This has to match bootstrap's row margin. */
      margin-left: 30px;
      padding-right: 1em;
      float: left;
      margin-top: 0;
    }
  </style>

  <div class="row" ng-repeat="build in builds.rows">
    <div class="span12">
      <h3>
        {{build.build.timestamp | date:'medium'}}:
        <span class="success" ng-show="build.build.success">SUCCESS</span>
        <span class="error" ng-hide="build.build.success">FAILURE</span>
      </h3>

      <h4>Participants</h4>
      <span ng-repeat="p in build.participants">
        <person-avatar person="p"></person-avatar>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <ul class="pager">
        <li class="previous" ng-show="builds.startIndex > 0">
          <a ng-click="builds.prev()">&larr; Prev</a>
        </li>
        <li class="next">
          <a ng-click="builds.next()">Next &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
