<div class="container">

  <navbar/>

  <div class="page-header">
    <h1>Builds</h1>
  </div>

  <style>
    .avatar-image {
      /* This has to match bootstrap's row margin. */
      margin-left: 30px;
      padding-right: 1em;
      float: left;
      margin-top: 0;
    }
  </style>

  <div class="row">
    <div class="span12">
      <div class="row" ng-repeat="g in buildGroups">
        <x ng-repeat="(date, group) in g">
          <div class="span12">
            <h2>{{date | date:'mediumDate'}}</h2>
          </div>
          <div class="span12">
            <table class="table">
            <tr ng-repeat="build in group" class="{{{true: 'success', false: 'error'}[build.build.success]}}">
              <td>
                <h4>
                  {{build.build.timestamp | date:'shortTime'}}:
                  {{{true: 'SUCCESS', false: 'FAILURE'}[build.build.success]}}
                </h4>

                <span ng-repeat="p in build.participants" ng-show="build.participants">
                  <dogtag-xl person="p"></dogtag-xl>
                </span>
                <p ng-hide="build.participants">
                  No participants.
                </p>
                <a class="btn pull-right" href="#/build/{{build.build.uuid}}"><i class="icon-chevron-right"></i></a>
              </td>
            </tr>
            </table>
          </div>
        </x>
      </div>
      <ul class="pager">
        <li class="previous" ng-show="builds.startIndex > 0">
          <a ng-click="builds.prev()">&larr; Prev</a>
        </li>
        <li class="next">
          <a ng-click="builds.next()">Next &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
