gitorious.url=
gitorious.sessionValue=
gitorious.projectListUpdateDelay=1
gitorious.projectListUpdateInterval=60

nexus.updateInterval=3600

jenkins.updateInterval=3600

database.driver=
database.url=jdbc:h2:tcp://127.0.0.1/esper;DB_CLOSE_DELAY=-1
database.username=
database.password=
