<div class="container">

  <navbar/>

  <div class="page-header">
    <h1>Jenkins Server: {{server.name}}</h1>
  </div>

  <ul class="breadcrumb">
    <li><a href="/jenkins/#/">All Servers</a> <span class="divider">/</span></li>
    <li class="active">Server</li>
  </ul>

  <ul class="nav nav-tabs">
    <li ng-repeat="tab in navTabs.tabs" ng-class="{active: navTabs.selected() == tab}">
      <a ng-click="navTabs.onClick(tab)">{{tab}}</a>
    </li>
  </ul>

  <div ng-show="navTabs.selectedIndex() == 0" class="row">
    <div class="span12">
      <h3>Overview</h3>
      <table class="table">
        <tbody>
        <tr>
          <th>URL</th>
          <td><a href="{{server.url}}">{{server.url}}</a></td>
        </tr>
        <tr>
          <th>Enabled</th>
          <td>{{server.enabled}}</td>
        </tr>
        <tr>
          <th>Number of jobs</th>
          <td>{{server.jobCount}}</td>
        </tr>
        <tr>
          <th>Number of builds</th>
          <td>{{server.buildCount}}</td>
        </tr>
        <tr>
          <th>Most recent build</th>
          <td>{{server.lastBuildTimestamp | date:'medium'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="navTabs.selectedIndex() == 1" class="row">
    <div class="span12">
      <form class="form-search form-inline well">
        <div class="input-append">
          <input type="text" class="span2 search-query" ng-model="jobs.query" ng-change="jobs.onSearchChange()">
          <button type="submit" class="btn" ng-click="jobs.onSearch()">Search</button>
        </div>
      </form>
    </div>
    <div class="span12">
      <table class="table">
        <tbody>
        <tr ng-repeat="job in jobs.rows">
          <td>{{job.displayName}}</td>
          <td>{{job.createdDate | date:'medium'}}</td>
          <td><a class="btn" href="/jenkins/#/server/{{server.uuid}}/job/{{job.uuid}}"><i class="icon-chevron-right"></i></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3">
            <ul class="pager">
              <li class="previous" ng-class="{disabled: jobs.startIndex == 0}">
                <a ng-click="jobs.prev()">&larr; Older</a>
              </li>
              <li class="next">
                <a ng-click="jobs.next()">Newer &rarr;</a>
              </li>
            </ul>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div ng-show="navTabs.selectedIndex() == 2" class="row">
    <div class="span12">
      <table class="table table-striped">
        <tbody>
        <tr ng-repeat="b in builds.rows">
          <td>{{b.timestamp | date:'medium'}}</td>
          <td class="span6">{{b.result}}</td>
          <td class="span1"><a class="btn" href="/jenkins/#/server/{{server.uuid}}/job/{{b.job}}">Job</a></td>
          <td class="span1">
            <a class="btn" href="/jenkins/#/server/{{server.uuid}}/job/{{b.job}}/build/{{b.uuid}}"><i class="icon-chevron-right"></i></a>
          </td>
        </tr>
        </tbody>
        <tfoot pager colspan="4" x="builds"/>
      </table>
    </div>
  </div>

</div>
